
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Uzaktan Eğitim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/vertical/assets/js/modernizr.min.js"></script>

</head>


<body>

    <!-- Begin page -->
    <div id="wrapper">

<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="../vertical/index.html" class="logo">
                <span>
                    <img src="../vertical/assets/images/logo.png" alt="" height="22">
                </span>
                <i>
                    <img src="../vertical/assets/images/logo_sm.png" alt="" height="28">
                </i>
            </a>
        </div>

        <!-- User box -->
        <div class="user-box">
            <div class="user-img">
                <img src="../vertical/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme"
                    class="rounded-circle img-fluid">
            </div>
            <h5><a href="#">Admin</a> </h5>
            <p class="text-muted">Menü</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <!--<li class="menu-title">Navigation</li>-->

                <li class="bg-primary">
                    <a asp-controller="main" asp-action="index">
                        <i class="fi-air-play"></i> <span> Anasayfa </span>
                    </a>
                </li>
                <li class="bg-success">
                    <a asp-controller="admins" asp-action="Index">
                        <i class="fi-air-play"></i> <span> Admin </span>
                    </a>
                </li>


                
                <li class="bg-success">
                    <a asp-controller="canlis" asp-action="Index">
                        <i class="fi-air-play"></i> <span> Canlı Yayın </span>
                    </a>
                </li>

                <li class="bg-info">
                    <a href="javascript: void(0);"><i class="mdi mdi-file-document"></i> <span> Dersler Bilgileri
                        </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="derslers" asp-action="Create">Ders Giriş</a></li>
                        <li><a asp-controller="derslers" asp-action="Index">Derslerin Listesi</a></li>
                        <li><a asp-controller="konulars" asp-action="Create">Konusu Giriş</a></li>
                        <li><a asp-controller="konulars" asp-action="Index">Konu Listesi</a></li>



                    </ul>
                </li>

                <li class="bg-warning">
                    <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Ödev Bilgileri </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="odevs" asp-action="Create">Ödev Giriş</a></li>
                        <li><a asp-controller="odevs" asp-action="Index">Ödev Listesi</a></li>
                       
                   </ul>
                </li>


                <li class="bg-info">
                    <a href="javascript: void(0);"><i class="fi-mail"></i><span> Sınavlar </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="sinavs" asp-action="Create">Soru Giriş</a></li>
                        <li><a asp-controller="sinavs" asp-action="Index">Soru Listesi</a></li>
                        
                    </ul>
                </li>

                <li class="bg-danger">
                    <a href="javascript: void(0);"><i class="fi-mail"></i><span> Öğrenci İşleri </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="ogrencis" asp-action="Create">Öğrenci Giriş</a></li>
                        <li><a asp-controller="ogrencis" asp-action="Index">Tüm Liste</a></li>

                    </ul>
                </li>

                

               

                <li class="bg-danger">
                    <a asp-controller="Home" asp-action="Cikis">
                        <i class="mdi mdi-logout"></i> <span> Güvenli Çıkış </span>
                    </a>
                </li>


            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            <!-- Top Bar Start -->
           
            <!-- Top Bar End -->
            <!-- Start Page content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-right">
                2020 © Boğaziçi Üniversitesi
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/vertical/assets/js/jquery.min.js"></script>
    <script src="~/vertical/assets/js/popper.min.js"></script>
    <script src="~/vertical/assets/js/bootstrap.min.js"></script>
    <script src="~/vertical/assets/js/metisMenu.min.js"></script>
    <script src="~/vertical/assets/js/waves.js"></script>
    <script src="~/vertical/assets/js/jquery.slimscroll.js"></script>

    <!-- App js -->
    <script src="~/vertical/assets/js/jquery.core.js"></script>
    <script src="~/vertical/assets/js/jquery.app.js"></script>

</body>
</html>
