@model egitim.Models.sinav

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Create</h2>

<h4>sinav</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ders_id" class="control-label"></label>
                
                <select class="form-control" id="ders_id" name="ders_id" asp-for="ders_id" asp-items="@(new SelectList(ViewBag.message,"id","ders"))">
                    <option>Ders Seçimi Yapın</option>
                </select>
                <span asp-validation-for="ders_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="konu_id" class="control-label"></label>
               

                <select class="form-control" id="konu_id" name="konu_id" asp-for="konu_id" asp-items="@(new SelectList(string.Empty,"id","ders"))">
                    <option>Konu Seçimi Yapın</option>
                </select>
                <span asp-validation-for="konu_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="test_id" class="control-label"></label>
                <input asp-for="test_id" class="form-control" />
                <span asp-validation-for="test_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soru_sira" class="control-label"></label>
                <input asp-for="soru_sira" class="form-control" />
                <span asp-validation-for="soru_sira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soru" class="control-label"></label>
                <input asp-for="soru" class="form-control" />
                <span asp-validation-for="soru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="a" class="control-label"></label>
                <input asp-for="a" class="form-control" />
                <span asp-validation-for="a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="b" class="control-label"></label>
                <input asp-for="b" class="form-control" />
                <span asp-validation-for="b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c" class="control-label"></label>
                <input asp-for="c" class="form-control" />
                <span asp-validation-for="c" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="d" class="control-label"></label>
                <input asp-for="d" class="form-control" />
                <span asp-validation-for="d" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="e" class="control-label"></label>
                <input asp-for="e" class="form-control" />
                <span asp-validation-for="e" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cevap" class="control-label"></label>
                <input asp-for="cevap" class="form-control" />
                <span asp-validation-for="cevap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/vertical/assets/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ders_id").change(function () {
            var url = '@Url.Content("~/")' + "sinavs/getkonugetirId";
            var ddlsource = "#ders_id";
            $.getJSON(url, { id: $("#ders_id").val() }, function (data) {
                var items = '';
                $("#konu_id").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#konu_id").html(items);
            });
           
        });


    });

</script>