
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Uzaktan Eğitim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Boğaziçi Üniversitesi Uzaktan Eğitim" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/vertical/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/vertical/assets/js/modernizr.min.js"></script>

</head>


<body class="account-pages">

    <!-- Begin page -->
    <div class="accountbg" style="background: url('../../vertical/assets/images/bg-1.jpg');background-size: cover;"></div>

    <div class="wrapper-page account-page-full">

        <div class="card">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-5">
                        <h2 class="text-uppercase text-center pb-4">
                            <a asp-controller="Home" asp-action="Index" class="text-success">
                                <span><img src="~/vertical/assets/images/logo.png" alt="" height="26"></span>
                            </a>
                        </h2>

                        <form asp-controlller="Home" asp-action="login" method="post" class="">

                            <div class="form-group m-b-20 row">
                                <div class="col-12">
                                    <label for="emailaddress">Kullanıcı Adı</label>
                                    <input class="form-control" type="password" id="kul" name="kul" placeholder="Kullanıcı Adı">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <a href="page-recoverpw.html" class="text-muted pull-right"><small>Şifremi Unuttum?</small></a>
                                    <label for="password">Şifre</label>
                                    <input class="form-control" type="password" required="" name="sifre" id="sifre" placeholder="Şifrenizi Girin">
                                </div>
                            </div>



                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Giriş</button>
                                </div>
                            </div>

                        </form>

                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Yeni Kayıt için  <a href="page-register.html" class="text-dark m-l-5"><b>Tıklayın</b></a></p>
                            </div>
                        </div>
                        <div class="form-group row m-b-20">
                            <div class="col-12">

                                <a asp-controller="Home" asp-action="admin" class="btn btn-block btn-custom waves-effect waves-light">Panel Giriş</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="account-copyright">2020 Boğaziçi Üniversitesi</p>
        </div>

    </div>



    <!-- jQuery  -->
    <script src="~/vertical/assets/js/jquery.min.js"></script>
    <script src="~/vertical/assets/js/popper.min.js"></script>
    <script src="~/vertical/assets/js/bootstrap.min.js"></script>
    <script src="~/vertical/assets/js/metisMenu.min.js"></script>
    <script src="~/vertical/assets/js/waves.js"></script>
    <script src="~/vertical/assets/js/jquery.slimscroll.js"></script>

    <!-- App js -->
    <script src="~/vertical/assets/js/jquery.core.js"></script>
    <script src="~/vertical/assets/js/jquery.app.js"></script>

</body>
</html>